{% extends 'dashboard/base.html' %}

{% block link %}
{% endblock link %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">Forms Table</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    {% comment %} <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div> {% endcomment %}
                    {% comment %} <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters</button> {% endcomment %}
                </div>
                <div class="table-data__tool-right">
                    <button onclick="location.href='{% url "newform" %}';" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus" ></i>add form</button>
                    
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>description</th>
                            <th>forms created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formsample in  formsamples   %}
                            <tr class="spacer"></tr>
                            <tr class="tr-shadow">
                                <td>{{formsample.title}}</td>
                                <td>{{formsample.description}}</td>
                                <td> 0</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>

                                        <button class="item" data-toggle="modal" data-target='#delete_{{formsample.id}}' data-placement="top" title="Delete">
                                             <i class="zmdi zmdi-delete"></i>
                                        </button>

                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>
{% endblock content %}

{% block modal %}

{% for formsample in formsamples %}
<div class="modal fade" id="delete_{{formsample.id}}" tabindex="-1" role="dialog" aria-labelledby="monthly_taskLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="monthly_taskLabel">Add a new Monthly Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'forms-admin-update' %}" method="get" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %} 
                <div class="modal-body px-5">
                        <input type="hidden" hidden name='pk' value="{{ formsample.id }}">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Are you sure you want to delete this task?</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button value="Delete" type="submit" class="btn btn-primary">Confirm</button>
                </div>
            
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
{% endblock script %}