{% extends 'dashboard/base.html' %}

{% block link %}
{% endblock link %}

{% block content %}
{% comment %} {% for item in data %} {% endcomment %}
<div class="row m-t-25">
    <div class="col-sm-6 col-lg-3">
    {% for item in data %}
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2>10368</h2>
                                    <span>members online</span>
                                </div>
                            </div>
                            <div class="overview-chart"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="widgetChart1" height="130" style="display: block;" width="200" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}